.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 5vw;
  padding: 0px 30px;
  background-color: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);

  .left_part {
    display: flex;
    justify-content: space-evenly;

    .iconStyle {
      font-size: 20px;
      cursor: pointer;
    }
  }
  .center_part {
    display: flex;
    justify-content: flex-start;
  }
  .right_part {
    display: flex;
  }
}
